@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.CharacterDetail {

  text-align: center;

  p {
    font-size: 1.5em;
    color: rgb(155, 9, 9);
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    letter-spacing: .07em;
  }

  img {
    width: 55%;
    height: auto;
    border-radius: 5px;
  }
}
